@import url('./src/reset.css');

body{
 background-color: #C2C2C2;
}

.build{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}

.thirthFloor {
    display: flex;
    width: 250px;
    height: 200px;
    justify-content: space-between;
    align-items: end;
    border-bottom: 10px solid #000;
}
.thirthFloor p{
    font-size: 60px;

}
.buttons{    
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
    padding: 10px 10px;
    margin-bottom: 10px;
}
.buttons button{
    padding: 7px 7px;
    margin: 5px 0;
    background-color: crimson;
    border-radius: 25px;
}

.elevator{
    border: 1px black solid;
    z-index: 1;
    position: absolute;
    top: 49px;
    background-color: #D9D9D9;
    width: 120px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: end;
}
.elevator div{
    border: 1px black solid;
    background-color: #B2B2B2;
    width: 60px;
    height: 120px;
}